#book_submit {
    font-size: 20px;
    letter-spacing: 2px;
    padding: 25px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

select {
    padding: 10px;
    border: grey solid 1px;
}

.justify-content-center {
    display: flex !important;
}

#center-this {
    padding: 30px;
}

#del_btn {
    margin-top: 20px;
    height: 50px;
    width: 200px;
}

#del_sure_btn {
    height: 50px;
    width: 200px;
}